@charset "ISO-8859-1";

.miguel{
	color: blue;
}

.datagrid table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #006699;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.datagrid table td, .datagrid table th {
	padding: 3px 10px;
}

.datagrid table thead th {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699
		), color-stop(1, #00557F));
	background: -moz-linear-gradient(center top, #006699 5%, #00557F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',
		endColorstr='#00557F');
	background-color: #006699;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #0070A8;
}

.datagrid table thead th:first-child {
	border: none;
}

.datagrid table tbody td {
	color: #00496B;
	border-left: 1px solid #E1EEF4;
	font-size: 12px;
	font-weight: normal;
}

.datagrid table tbody .alt td {
	background: #E1EEF4;
	color: #00496B;
}

.datagrid table tbody td:first-child {
	border-left: none;
}

.datagrid table tbody tr:last-child td {
	border-bottom: none;
}

.datagrid table tfoot td div {
	border-top: 1px solid #006699;
	background: #E1EEF4;
}

.datagrid table tfoot td {
	padding: 0;
	font-size: 12px
}

.datagrid table tfoot td div {
	padding: 2px;
}

.datagrid table tfoot td ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

.datagrid table tfoot  li {
	display: inline;
}

.datagrid table tfoot li a {
	text-decoration: none;
	display: inline-block;
	padding: 2px 8px;
	margin: 1px;
	color: #FFFFFF;
	border: 1px solid #006699;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #006699
		), color-stop(1, #00557F));
	background: -moz-linear-gradient(center top, #006699 5%, #00557F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',
		endColorstr='#00557F');
	background-color: #006699;
}

.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
	text-decoration: none;
	border-color: #006699;
	color: #FFFFFF;
	background: none;
	background-color: #00557F;
}

div.dhtmlx_window_active, div.dhx_modal_cover_dv {
	position: fixed !important;
}
.overlay-loader {
	display: none;
	margin: auto;
	width: 72px;
	height: 72px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 72px;
	height: 72px;
	animation-name: rotateAnim;
		-o-animation-name: rotateAnim;
		-ms-animation-name: rotateAnim;
		-webkit-animation-name: rotateAnim;
		-moz-animation-name: rotateAnim;
	animation-duration: 0.2775s;
		-o-animation-duration: 0.2775s;
		-ms-animation-duration: 0.2775s;
		-webkit-animation-duration: 0.2775s;
		-moz-animation-duration: 0.2775s;
	animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
	animation-timing-function: linear;
		-o-animation-timing-function: linear;
		-ms-animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
}
.loader div {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 1px solid rgb(0,0,0);
	position: absolute;
	top: 1px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.loader div:nth-child(odd) {
	border-top: none;
	border-left: none;
}
.loader div:nth-child(even) {
	border-bottom: none;
	border-right: none;
}
.loader div:nth-child(2) {
	border-width: 1px;
	left: 0px;
	top: -3px;
	width: 9px;
	height: 9px;
}
.loader div:nth-child(3) {
	border-width: 1px;
	left: -1px;
	top: 2px;
	width: 13px;
	height: 13px;
}
.loader div:nth-child(4) {
	border-width: 2px;
	left: -1px;
	top: -3px;
	width: 17px;
	height: 17px;
}
.loader div:nth-child(5) {
	border-width: 2px;
	left: -1px;
	top: 3px;
	width: 23px;
	height: 23px;
}
.loader div:nth-child(6) {
	border-width: 3px;
	left: 0px;
	top: -3px;
	width: 29px;
	height: 29px;
}
.loader div:nth-child(7) {
	border-width: 3px;
	left: 0px;
	top: 4px;
	width: 36px;
	height: 36px;
}


@keyframes rotateAnim {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-o-keyframes rotateAnim {
	from {
		-o-transform: rotate(360deg);
	}
	to {
		-o-transform: rotate(0deg);
	}
}

@-ms-keyframes rotateAnim {
	from {
		-ms-transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
	}
}

@-webkit-keyframes rotateAnim {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes rotateAnim {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}